body{
    font-family: 'Arimo', sans-serif;
    margin: 0;
}
.top{
    height: 500px;
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.middle{
    /* height: 500px; */
    background-size: 50px;
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
  
}
h1{
    font-size: 50px;
    font-weight: bold;
    margin-top:10%;
}
.orangeHighlite{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left:5%;
    padding-left: 2%;

}.half-width img{
    width: 100%;
}
section{
    height: 500px;
    padding-bottom: 100px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(238, 197, 121), orange);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.single-experiance{
    box-shadow: 20px 20px 40px gray;
    border-radius: 5px;
    height: 50%;
    
}
.experience{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#fullStack{
    border-left: 7px solid;
    border-image: linear-gradient (180deg, rgb(216, 137, 106),tomato );
    border-image-slice: 1;
}
#bia{
    border-left: 7px solid;
    border-image: linear-gradient (180deg, rgb(130, 141, 241),rgb(42, 63, 247) );
    border-image-slice: 1;
}
footer p{
    text-align: center;
}